<template>
  <div class="mt-4">
    <b-container class="bv-example-row">
      <b-row>
        <b-col cols="3">
          <div v-bind:style="styleObject">
            <card>
              <!-- Card body -->
              <a>
                <b-img
                  src="https://placekitten.com/300/300"
                  fluid
                  rounded="circle"
                  class="img-center shadow shadow-lg--hover ml-3"
                  style="width: 180px;"
                />
              </a>
            </card>
          </div>
        </b-col>
        <div class="ml-4" style="width: 800px;">
          <b-col lg="12">
            <b-card bg-variant="light">
              <b-form-group
                label-cols-lg="3"
                label="ข้อมูลส่วนตัวทั่วไป"
                label-size="lg"
                label-class="font-weight-bold pt-0"
                class="mb-0"
              >
                <b-form-group
                  label="ชื่อ:"
                  label-for="fname"
                  label-cols-sm="3"
                  label-align-sm="right"
                >
                  <b-form-input id="fname"></b-form-input>
                </b-form-group>

                <b-form-group
                  label="นามสกุล:"
                  label-for="lname"
                  label-cols-sm="3"
                  label-align-sm="right"
                >
                  <b-form-input id="lname"></b-form-input>
                </b-form-group>

                <b-form-group
                  label="บัตรประชาชน:"
                  label-for="idcard"
                  label-cols-sm="4"
                  label-align-sm="right"
                >
                  <b-form-input id="idcard"></b-form-input>
                </b-form-group>
                <b-form-group
                  label="ที่อยู่"
                  label-for="address"
                  label-cols-sm="3"
                  label-align-sm="right"
                  class="mb-0"
                >
                  <b-form-textarea
                    id="address"
                    v-model="address"
                    placeholder="Enter your text"
                    :formatter="formatter"
                  ></b-form-textarea>
                </b-form-group>
                <br />
                <b-form-group
                  label="เบอร์โทร:"
                  label-for="tel"
                  label-cols-sm="3"
                  label-align-sm="right"
                >
                  <b-form-input id="tel"></b-form-input>
                </b-form-group>
                <b-form-group
                  label="อีเมล:"
                  label-for="email"
                  label-cols-sm="3"
                  label-align-sm="right"
                >
                  <b-form-input id="email"></b-form-input>
                </b-form-group>
              </b-form-group>
            </b-card>
            <br />
            <br />
            <b-card bg-variant="light">
              <b-form-group
                label-cols-lg="3"
                label="เลือก Resume"
                label-size="lg"
                label-class="font-weight-bold pt-0"
                class="mb-0"
              >
                <b-form-select
                  v-model="selected"
                  :options="resumeall"
                ></b-form-select>
                <div class="mt-3"></div>
              </b-form-group>
            </b-card>
            <br />
          </b-col>
          <b-row>
            <b-col lg="8" class="pb-2" style="text-align: center">
              <b-button size="lg" variant="primary">Apply</b-button>
            </b-col>
            <b-col lg="16" class="pb-2" style="text-align: center">
              <b-button size="lg" variant="danger">Cancel</b-button>
            </b-col>
          </b-row>
        </div> </b-row
      ><br />
      <br />
    </b-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      styleObject: {
        border: '20px solid lightgray',
        color: 'black',
        fontSize: '25px'
      },
      selected: null,
      resumeall: [
        { value: null, text: 'โปรดเลือก Resume' },
        { value: '604d9a086df0ae0b108d6500', text: 'Resume_01' },
        { value: '604d9a306df0ae0b108d6501', text: 'Resume_02' }
      ],
      form: {
        _id: '',
        resumename: '',
        education: '',
        attitude: '',
        skill: '',
        workhistory: '',
        jobseeker: {
          fname: '',
          lname: '',
          idcard: '',
          gender: '',
          age: '',
          address: '',
          tel: ''
        }
      }
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  }
}
</script>
