<template>
  <b-container class="bv-example-row bv-example-row-flex-cols">
    <b-row align-v="start">
      <br />
      Jobtype
      <b-col>
        <br />
        <b-form-select
          style="width: 200px"
          v-model="selected"
          :options="options"
          class="mb-3"
        >
          <template #first>
            <b-form-select-option :value="null" disabled
              >-- Select Option --</b-form-select-option
            >
          </template>
        </b-form-select>
      </b-col>
      <br />
      Provinces
      <b-col>
        <br />
        <b-form-input
          style="width: 200px"
          v-model="province"
          type="text"
          debounce="500"
        ></b-form-input>
      </b-col>
      <br />
      Responsibility
      <b-col>
        <br />
        <b-form-input
          style="width: 200px"
          v-model="response"
          type="text"
          debounce="500"
        ></b-form-input>
      </b-col>
    </b-row>
    <b-button style="float: right;" variant="success" @click="getSearch">Search</b-button><br>
    <div><br>
      <b-table striped hover :items="searchList" :fields="fields">
        <template v-slot:cell(operation)="data">
          <b-button variant="info" @click="ViewJob(data.item)">view</b-button>
        </template>
      </b-table>
    </div>
    <b-modal v-if="form != null" id="modal-1" title="รายละเอียดบริษัท" ok-only>
    <p class="my-4">Namejob: {{ form.namejob }}<br>
     namecompany: {{ form.namecompany }}<br>
     Jobtype: {{ form.jobtype }}<br>
     Require: {{ form.require }} persons<br>
     Responsibility: {{ form.responsibility }}<br>
     Requirements: {{ form.requirements }}<br>
     Contact: {{ form.contact }}<br>
     Provinces: {{ form.provinces }}<br>
     Salary: {{ form.salary }} baht
    </p>
    <b-button variant="success" to="/applyjob">Apply</b-button>
  </b-modal>
   </b-container>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      province: '',
      response: '',
      selected: null,
      options: [
        { value: 'งานประจำ', text: 'งานประจำ' },
        { value: 'งานนอกเวลา', text: 'งานนอกเวลา' },
        { value: 'งานอิสระ', text: 'งานอิสระ' },
        { value: 'นักศึกษาฝึกงาน', text: 'นักศึกษาฝึกงาน' },
        { value: 'สัญญาจ้าง', text: 'สัญญาจ้าง' },
        { value: 'สหกิจศึกษา', text: 'สหกิจศึกษา' }
      ],
      searchList: [],
      fields: [
        {
          key: 'jobtype',
          label: 'Jobtype'
        },
        {
          key: 'provinces',
          label: 'Province'
        },
        {
          key: 'responsibility',
          label: 'Responsibility'
        },
        {
          key: 'operation',
          label: 'Operator'
        }
      ],
      form: {}
    }
  },
  methods: {
    getSearch () {
      const payload = {
        type: this.selected,
        province: this.province,
        response: this.response
      }
      axios.post('http://localhost:3000/jobposting/search/', payload).then((res) => {
        this.searchList = res.data
      })
    },
    ViewJob (job) {
      this.$bvModal.show('modal-1')
      this.form = { ...job }
    }
  }
}
</script>
