<template>
  <div>
    <br />
    <br /><br /><br />
    <b-container class="bv-example-row">
      <b-row>
        <b-col cols="3">
          <div v-bind:style="styleObject">
            <card>
              <!-- Card body -->
              <a>
                <b-img
                  src="https://placekitten.com/300/300"
                  fluid
                  rounded="circle"
                  class="img-center shadow shadow-lg--hover ml-3"
                  style="width: 180px;"
                />
              </a>
              <div class="pt-4 text-center ml-3 mr-3">
                <h5 class="h3 title">
                  <div>
                    <b-button-group>
                      <b-button variant="light">จำนวน Resume: 0</b-button>
                    </b-button-group>
                  </div>
                </h5>
              </div>
            </card>
          </div>
        </b-col>
        <b-col><b-table striped hover :items="userList" :fields="fields"></b-table>
          <!-- Modal view jobposting-->
          <b-modal id="view-jobposting" size="lg" hide-footer>
            <template #modal-title>
              View Job Posting Detail
            </template>
            <div class="d-block text-center">
              <h3>Hello From This Modal!</h3>
            </div>
            <b-button
              class="mt-3"
              block
              @click="$bvModal.hide('view-jobposting')"
              >Close Me</b-button
            >
          </b-modal></b-col
        >
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
// import jobseekerService from './JobseekerService.js '
export default {
  data () {
    return {
      styleObject: {
        border: '20px solid lightgray',
        color: 'black',
        fontSize: '25px'
      },
      userList: [],
      fields: [
        {
          key: 'jobposting.namejob',
          label: 'Name Job'
        },
        {
          key: 'jobposting.namecompany',
          label: 'Company'
        },
        {
          key: 'status',
          label: 'Status'
        }
      ]
    }
  },
  methods: {
    getJobposting () {
      axios
        .get('http://localhost:3000/jobposting')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getViewUserApplication (id) {
      axios.get('http://localhost:3000/application/view/' + id).then(res => {
        console.log(res.data)
        this.userList = res.data
      })
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getViewUserApplication('602633b6f40c462bd8428464')
    console.log(this.userList)
  }
}
</script>
