<template>
  <div>
    <br />
    <br /><br /><br />
    <b-container class="bv-example-row">
      <b-row>
        <b-col cols="3">
            <div class="card">
              <!-- Card body -->
              <br>
              <a>
                <b-img
                  src="https://placekitten.com/300/300"
                  fluid
                  rounded="circle"
                 class="shadow shadow-lg--hover ml-5"
                  style="width: 150px;"
                />
              </a>
              <div class="pt-4 text-center ml-3 mr-3">
                <h5 class="h3 title">
                  <div class="numresume ">
                    <b-button-group>
                      <b-button variant="muted">จำนวน Resume: 0</b-button>
                    </b-button-group>
                  </div>
                </h5>
              </div>
            </div>
        </b-col>
        <b-col><b-table striped hover :items="userList" :fields="fields"></b-table>
          <!-- Modal view jobposting-->
          <b-modal id="view-jobposting" size="lg" hide-footer>
            <template #modal-title>
              View Job Posting Detail
            </template>
            <div class="d-block text-center">
              <h3>Hello From This Modal!</h3>
            </div>
            <b-button
              class="mt-3"
              block
              @click="$bvModal.hide('view-jobposting')"
              >Close Me</b-button
            >
          </b-modal></b-col
        >
      </b-row>
    </b-container>
  </div>
</template>
<style>
.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.numresume {
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.2);
  transition: 0.3s;
  border-radius: 50px;
}

.numresume:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-image: linear-gradient(to right, #fc5078,#FF4B2B);
}

.container {
  padding: 2px 10px;
}
</style>
<script>
import axios from 'axios'
// import jobseekerService from './JobseekerService.js '
export default {
  data () {
    return {
      styleObject: {
        border: '20px solid lightgray',
        color: 'black',
        fontSize: '25px'
      },
      userList: [],
      fields: [
        {
          key: 'jobposting.namejob',
          label: 'Name Job'
        },
        {
          key: 'jobposting.namecompany',
          label: 'Company'
        },
        {
          key: 'status',
          label: 'Status'
        }
      ]
    }
  },
  methods: {
    getJobposting () {
      axios
        .get('http://localhost:3000/jobposting')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getViewUserApplication (id) {
      axios.get('http://localhost:3000/application/view/' + id).then(res => {
        console.log(res.data)
        this.userList = res.data
      })
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getViewUserApplication('602633b6f40c462bd8428464')
    console.log(this.userList)
  }
}
</script>
