<template>
  <div class="mt-4">
    <b-container class="bv-example-row">
      <b-row>
        <div v-bind:style="styleObject">
          <card>
            <!-- Card body -->
            <a>
              <b-img
                src="https://placekitten.com/300/300"
                fluid
                rounded="circle"
                class="img-center shadow shadow-lg--hover ml-5"
                style="width: 180px;"
              />
            </a>
            <div class="pt-4 text-center ml-3 mr-3">
              <h5 class="h3 title">
                <div>
                  <b-button-group>
                    <b-button variant="light">นัดสัมภาษณ์: 0</b-button>
                    <b-button variant="light">งานที่สมัคร: 0</b-button>
                  </b-button-group>
                </div>
              </h5>
            </div>
          </card>
        </div>
        <div v-bind:style="styleObject" class="ml-5">
          <b-col class="ml-1 mt-5">
            <div>
              <p>ข้อมูลที่คุณสนใจ</p>
              <b-button-group class="mt-5">
                <b-button variant="light">บริษัทเปิดดูประวัติ: 0</b-button>
                <b-button variant="light">Job Match: 0</b-button>
                <b-button variant="light">ประวัติการสมัครงาน: 0</b-button>
              </b-button-group>
            </div>
            <div class="mt-5">
              <p>จัดการโปรไฟล์ของคุณ</p>
              <b-button-group class="mt-1 mb-3">
                <b-button variant="danger">สร้าง/แก้ไขประวัติ</b-button>
              </b-button-group>
            </div>
          </b-col>
        </div>
      </b-row>
      <div class="mt-3">
        <b-button variant="danger" class="w-25">ดูโปรไฟล์แบบเต็ม</b-button>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      styleObject: {
        border: '20px solid lightgray',
        color: 'black',
        fontSize: '25px'
      }
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  }
}
</script>
