<template>
  <div>
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Resumename"
          label-for="resumename"
          :invalid-feedback="invalidFeedbackResumename"
          valid-feedback="สำเร็จ"
          :state="stateResumename"
        >
          <b-form-input
            id="resumename"
            v-model="form.resumename"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Education"
          label-for="education"
          :invalid-feedback="invalidFeedbackEducation"
          valid-feedback="สำเร็จ"
          :state="stateEducation"
        >
          <b-form-input
            id="education"
            v-model="form.education"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Attitude"
          label-for="attitude"
          :invalid-feedback="invalidFeedbackAttitude"
          valid-feedback="สำเร็จ"
          :state="stateAttitude"
        >
          <b-form-input
            id="attitude"
            v-model="form.attitude"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Skill"
          label-for="skill"
          :invalid-feedback="invalidFeedbackSkill"
          valid-feedback="สำเร็จ"
          :state="stateSkill"
        >
          <b-form-input id="skill" v-model="form.skill" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Workhistory"
          label-for="workhistory"
          :invalid-feedback="invalidFeedbackWorkhistory"
          valid-feedback="สำเร็จ"
          :state="stateWorkhistory"
        >
          <b-form-input
            id="workhistory"
            v-model="form.workhistory"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <br />
    <b-button variant="outline-success" class="float-right" @click="addNewUser"
      >Add Resume</b-button
    ><br /><br /><br />
    <b-container class="bv-example-row">
      <b-row>
        <b-col cols="3">
          <div v-bind:style="styleObject">
            <card>
              <!-- Card body -->
              <a>
                <b-img
                  src="https://placekitten.com/300/300"
                  fluid
                  rounded="circle"
                  class="img-center shadow shadow-lg--hover ml-3"
                  style="width: 180px;"
                />
              </a>
              <div class="pt-4 text-center ml-3 mr-3">
                <h5 class="h3 title">
                  <div>
                    <b-button-group>
                      <b-button variant="light">จำนวน Resume: 0</b-button>
                    </b-button-group>
                  </div>
                </h5>
              </div>
            </card>
          </div>
        </b-col>
        <b-col
          ><b-table striped hover :items="userList" :fields="fields">
            <template v-slot:cell(operation)="data">
              <b-button @click="editUser(data.item)">Edit</b-button>
              &nbsp;
              <b-button variant="danger" @click="delUser(data.item)"
                >Delete</b-button
              >
              &nbsp;
              <b-button variant="info" @click="ViewUser(data.item)"
                >View</b-button
              >
            </template>
          </b-table>
          <!-- Modal view jobposting-->
          <b-modal id="view-resume" size="lg" hide-footer>
            <template #modal-title>
              View Job Posting Detail
            </template>
            <div class="d-block text-center">
              <h3>Hello From This Modal!</h3>
            </div>
            <b-button class="mt-3" block @click="$bvModal.hide('view-resume')"
              >Close Me</b-button
            >
          </b-modal></b-col
        >
      </b-row>
    </b-container>
    <b-modal v-if="form != null" id="modal-1" title="รายละเอียด Resume" ok-only>
      <p class="my-4"><span>Fname: {{ form.jobseeker.fname }}</span><span style="margin-left: 20px">Lname: {{ form.jobseeker.lname }}</span> <br>
     Idcard: {{ form.jobseeker.idcard }}<br>
     Age: {{ form.jobseeker.age }} years<br>
     Gender: {{ form.jobseeker.gender }}<br>
     Address: {{ form.jobseeker.address }}<br>
     Tel: {{ form.jobseeker.tel }}
    </p>
    <p class="my-4">ResumeName: {{ form.resumename }}<br>
    Education: {{ form.education }}<br>
    Attitude: {{ form.attitude }}<br>
    Skill: {{ form.skill }}<br>
    WorkhiStory: {{ form.workhistory }}
    </p>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
// import jobseekerService from './JobseekerService.js '
export default {
  data () {
    return {
      styleObject: {
        border: '20px solid lightgray',
        color: 'black',
        fontSize: '25px'
      },
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        _id: '',
        resumename: '',
        education: '',
        attitude: '',
        skill: '',
        workhistory: '',
        jobseeker: {
          fname: '',
          lname: '',
          idcard: '',
          gender: '',
          age: '',
          address: '',
          tel: ''
        }
      },
      userList: [],
      fields: ['resumename', 'attitude', 'skill', 'workhistory', 'operation'],
      jobposting: {}
    }
  },
  methods: {
    ViewUser (user) {
      this.$bvModal.show('modal-1')
      this.form = { ...user }
    },
    addNewUser () {
      console.log('Add New user ')
      this.title = 'เพิ่ม Resume'
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไข Resume'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการลบ Resume ที่ชื่อว่า ' + user.resumename + ' หรือไม่!!!',
          {
            title: 'กรุณายืนยัน',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/resume/' + user._id)
              .then(res => {
                console.log(res)
                this.getResume()
              })
          }
        })
    },
    viewUser (user) {
      this.jobposting = user
      this.$bvModal.show('view-resume')
    },
    resetModal () {
      this.form = {
        _id: '',
        resumename: '',
        education: '',
        attitude: '',
        skill: '',
        workhistory: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateResumename === false ||
        this.stateEducation === false ||
        this.stateAttitude === false ||
        this.stateSkill === false ||
        this.stateWorkhistory === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/resume', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/resume', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getResume () {
      axios
        .get('http://localhost:3000/resume')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateResumename () {
      return this.form.resumename.length >= 2
    },
    invalidFeedbackResumename () {
      if (this.form.resumename.length > 0) {
        return ''
      }
      return 'ต้องใส่ชื่อ Resume'
    },
    stateEducation () {
      return this.form.education.length >= 2
    },
    invalidFeedbackEducation () {
      if (this.form.education.length > 0) {
        return ''
      }
      return 'ต้องใส่ประวัติการศึกษา'
    },
    stateAttitude () {
      return this.form.attitude.length >= 2
    },
    invalidFeedbackAttitude () {
      if (this.form.attitude > 0) {
        return ''
      }
      return 'ต้องใส่ทัศนคติ'
    },
    stateSkill () {
      return this.form.skill.length >= 2
    },
    invalidFeedbackSkill () {
      if (this.form.skill.length > 0) {
        return ''
      }
      return 'ต้องใส่รายละเอียดความสามารถ'
    },
    stateWorkhistory () {
      return this.form.workhistory.length >= 2
    },
    invalidFeedbackWorkhistory () {
      if (this.form.workhistory.length > 0) {
        return ''
      }
      return 'ต้องใส่รายละเอียดประสบการณ์ในการทำงาน'
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getResume()
  }
}
</script>
