<template>
  <div>
    <b-navbar toggleable="lg" type="light" variant="light">
      <b-navbar-brand href="#">GOLDPLUS</b-navbar-brand>
      <!-- <b-navbar-toggle target="nav-collapse"></b-navbar-toggle> -->

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="#"></b-nav-item>
          <b-list-group-item class="d-flex align-items-center">
            <b-avatar
              variant="info"
              src="https://placekitten.com/300/300"
              class="mr-3"
            ></b-avatar>
            <span class="mr-auto">Taneat Tadsab</span>
          </b-list-group-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-navbar toggleable="lg" type="danger" variant="danger">
      <b-container class="bv-example-row">
        <b-row align-h="center">
          <b-col
            ><b-button squared variant="danger" size="lg" to="/"
              >หน้าหลัก</b-button
            ></b-col
          >
          <b-col
            ><b-button squared variant="danger" size="lg" to="/search"
              >ค้นหางาน</b-button
            ></b-col
          >
          <b-col
            ><b-button squared variant="danger" size="lg" to="/resume"
              >จัดการ Resume</b-button
            ></b-col
          >
          <b-col
            ><b-button
              squared
              variant="danger"
              size="lg"
              to="/applicationresult"
              >ตรวจสอบผลการสมัคร</b-button
            ></b-col
          >
        </b-row>
      </b-container>
    </b-navbar>
  </div>
</template>
<script>
export default {
  methods: {
    showModal () {
      this.$refs['my-modal'].show()
    },
    hideModal () {
      this.$refs['my-modal'].hide()
    },
    toggleModal () {
      // We pass the ID of the button that we want to return focus to
      // when the modal has hidden
      this.$refs['my-modal'].toggle('#toggle-btn')
    },
    showModal1 () {
      this.$refs['my-modal1'].show()
    },
    hideModal1 () {
      this.$refs['my-modal1'].hide()
    },
    toggleModal1 () {
      // We pass the ID of the button that we want to return focus to
      // when the modal has hidden
      this.$refs['my-modal1'].toggle('#toggle-btn')
    }
  }
}
</script>
